@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("/Montserrat/static/Montserrat-Light.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("/Montserrat/static/Montserrat-Regular.ttf");
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "VelaSans";
  font-style: normal;
  font-weight: 400;
  src: url("/velasans-ffbhru/VelaSans/Static/TTF/VelaSans-Regular.ttf");
}

body {
  padding: 104px 150px;
  margin: 0;
}